@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

body {
    margin: 0;
}

/*animação de linha*/
.wrapper {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    opacity: 0;
    animation: fade-in 1s ease-in 1.5s forwards;
}

.line {
    position: absolute;
    bottom: 0;
    border-left: 2px solid gray;
    animation: show-up 2s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes show-up {
    0% {
        height: 0;
    }

    50% {
        left: 0;
        height: 100%;
    }

    95% {
        opacity: 1;
    }

    100% {
        left: 100%;
        height: 100%;
        opacity: 0;
    }
}
/*fim da animação de linha*/

html {
    background-color: black;
    overflow-x: hidden;
}

.container {
    position: relative;
    text-align: center;
    align-content: center;
    color: white;
}

.quote {
    position: relative;
    text-align: center;
    align-content: center;
    color: white;
}

.top-site-text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway;
    opacity: 0;
}

.vertical {
    max-width: 1px;
}

.mouse {
    filter: invert(100%);
    max-width: 55px;
}

.small-tittle-text {
    letter-spacing: 2px;
    font-size: 13px;
}

.smaller-tittle-text {
    font-weight: bold;
    font-size: 9px;
}

.button {
    font-weight: bold;
    display: inline;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    letter-spacing: 1px;
}

.button:hover {
    background: #ffffff;
    color: #000000;
}

.bigger-tittle-text {
    font-size: 48px;
}

.top-site-image{
    position: relative;
    -webkit-mask-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        from(
            rgba(0,0,0,1)
        ),
        to(rgba(0,0,0,0))
    )
}


.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;

}

.table{
    display:table;
    width:100%;
    height:100%;
}

.table-cell{
    color: white;
    display:table-cell;
    vertical-align:middle;
}

#shuffle-container {
    width: 75%;
    margin: 15%;
}

.square {
    background: transparent;
    border: transparent;
    border-style: solid;
    position: relative;
    min-width: 33%;
    max-width: 33%;
    max-height: 400px;
    min-height: 400px;
    z-index: 1;
}

.type_one {
    background: grey;
    border: black;
    border-style: solid;
    position: absolute;
    min-width: 80%;
    min-height: 80%;
    left: 10%;
    top: 10%;
    z-index: 2;
}

.type_two {
    background: grey;
    border: black;
    border-style: solid;
    position: absolute;
    min-width: 95%;
    min-height: 85%;
    left: 1%;
    top: 9%;
    z-index: 2;
}

.type_three {
    background: grey;
    border: black;
    border-style: solid;
    position: absolute;
    min-width: 80%;
    min-height: 66%;
    left: 10%;
    top: 17%;
    z-index: 2;
}

.alternate {
    margin-top: 30px;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    max-height: 400px;
    min-height: 400px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#000;
    color: #000;
}
