@import url('http://fonts.googleapis.com/css?family=Raleway:400,900');

* {
    outline: none;
}

p {
    max-height: 0px;
}

body {
    margin: 0;
    font:  100%;
}

/*animação de linha*/
.wrapper {
    position: relative;
    min-height: 100vh;
}

/*.picture-item {*/
    /*background: red!important;*/
    /*border: white!important;*/
    /*border-width: 1px!important;*/
/*}*/

.line {
    position: absolute;
    bottom: 0;
    border-left: 0.125em solid gray;
    animation: show-up 2s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes show-up {
    0% {
        height: 0;
    }

    50% {
        left: 0;
        height: 100%;
    }

    95% {
        opacity: 1;
    }

    100% {
        left: 100%;
        height: 100%;
        opacity: 0;
    }
}
/*fim da animação de linha*/

html {
    background-color: #F1F1F1;
    overflow-x: hidden;
}

img {
    margin-top: 5%;
}

.video-play {
    width: 100vw;
    height: 100vh;
}

.navigation {
    margin-top: 1%;
}

.container {
    position: relative;
    text-align: center;
    align-content: center;
    color: black;
}

.second-capa {
    z-index: 5;
    margin-top: -12%!important;
    height: 100vh;
}

.quote {
    position: relative;
    text-align: center;
    align-content: center;
    color: white;
}

#top-site-text {
    font-weight: bold;
    position: absolute;
    margin-top: 5%;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway;
    opacity: 0;
    transition: 1s;
}

.vertical {
    max-width: 0.0625em;
}

.mouse {
    /*filter: invert(100%);*/
    max-width: 3.4375em;
}

.simple-text {
    font-size: 1.125rem;
    line-height: 1.6;
}

.eye-text {
    font-size: 1.625rem;
    font-weight: bolder;
    margin-left: -10%;
    margin-right: -10%;
    text-align: center;
}

.small-title-text {
    letter-spacing: 0.125em;
    font-size: 0.875rem;
}

.smaller-title-text {
    font-size: 0.875rem;
    color: #6f6f6f;
    font-weight: 400;
}

.button {
    font-weight: bold;
    display: inline;
    margin: 0 auto;
    padding: 0.625em;
    border: 0.125em solid #000000;
    border-radius: 2.5em;
    color: #000000;
    letter-spacing: 0.0625em;
}


.materia-header {
    height: 50px;
    width: 120%;
    margin: 2% -10% 0 -10%;
    display: flex;
    justify-content: space-between;
}

.button-close img{
    width: 16px;
    height: 16px;
}



.buttons-share img{
}

.button-facebook img{
    max-height: 21px;
}

.button-oval img {
    vertical-align: middle;
    max-height: 16px;

}
.title-share {
    font-size: 1.125rem;
    font-weight: 500;
}

/*.share-text {*/
    /*font-size*/
/*}*/

.button-oval {
    font-family: Raleway;
    background: transparent;
    font-weight: bolder;
    border-radius: 2.5em;
    width: 45px;
    height: 45px;
    border: solid 7px rgba(34, 34, 34, 0.08);
    vertical-align: middle;
    cursor: pointer;
}

.button-facebook{
    font-family: Raleway;
    background: transparent;
    font-weight: bolder;
    border-radius: 2.5em;
    width: 45px;
    height: 45px;
    border: solid 7px rgba(34, 34, 34, 0.08);
    vertical-align: middle;
    cursor: pointer;
}

.button-active {
    background: #000000;
    color: #ffffff;
}

.button:hover {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}

.bigger-title-text {
    font-size: 3em;
    font-weight: bold;
}

.infos {
    margin: 0 -20%;
    width: 140%;
}
.infos img {

    max-width: 1344px;
    width: 100%;

}

/*.top-site-image{*/
    /*position: relative;*/
    /*min-height: 100vh;*/
    /*display: block;*/
    /*width: 100%;*/
    /*opacity: 0;*/
    /*animation: fade-in 1s ease-in 1.5s forwards;*/

    /*position: relative;*/
    /*-webkit-mask-image:-webkit-gradient(*/
        /*linear,*/
        /*left top,*/
        /*left bottom,*/
        /*from(*/
            /*rgba(0,0,0,1)*/
        /*),*/
        /*to(rgba(0,0,0,0))*/
    /*);*/

    /*/!* The image used *!/*/
    /*background-image: url('../images/rio_de_janeiro.jpg');*/

    /*/!* Create the parallax scrolling effect *!/*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/


.content {
    overflow-clip: initial!important;
    position:relative;
    font-size: 100%;
    height:100%;
    /*width:40%;*/
    /*padding-left: 20%;*/
    /*padding-right: 20%;*/
    opacity: 0;
    transition: .35s;
    font-family: Raleway;
    z-index: -1;
    margin: 0 auto;
    padding-bottom: 2%;
}

.table{
    display:table;
    width:100%;
    height:100%;
}

.table-cell{
    color: black;
    display:table-cell;
    vertical-align:middle;
}

#shuffle-container {
    overflow: initial!important;
    position: static;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.content-image {
    position: relative;
    text-align: center;
    align-content: center;
    color: white;
    z-index: -1;
}

.square {
    background: transparent;
    position: absolute;
    float: left;
    width: 25%;
    z-index: 1;
    -webkit-transition: .35s!important;
    transition: .35s!important;
    height: 24vh;
}

.square-two-rows {
    background: transparent;
    position: absolute;
    float: left;
    width: 25%;
    z-index: 1;
    -webkit-transition: .35s!important;
    transition: .35s!important;
    height: 48vh;
}

.square-two-columns {
    background: transparent;
    position: absolute;
    float: left;
    width: 50%;
    z-index: 1;
    -webkit-transition: .35s!important;
    transition: .35s!important;
    height: 24vh;
}

.square-two-rows-and-columns {
    background: transparent;
    position: absolute;
    float: left;
    width: 50%;
    z-index: 1;
    -webkit-transition: .35s!important;
    transition: .35s!important;
    height: 48vh;
}

.square:focus,
.square-two-rows:focus,
.square-two-columns:focus,
.square-two-rows-and-columns:focus {
    /*position: fixed!important;*/
    marginLeft: -50%!important;
    z-index: 3!important;
}

.float-title {
    text-shadow: 0px 0px #000000;
    position: fixed;
    color: white;
    width: 100%;
    font-size: 2vh;
    font-family: Raleway;
    transition: .35s;
    max-width: 65%;
}

.float-title-one {
    margin-top: 40%;
    margin-left: 15%;
}

.float-title-two {
    margin-top: 35%;
    margin-left: 40%;
}

.float-title-three {
    margin-top: 25%;
    margin-left: 5%;
}

.float-title-four {
    margin-top: 25%;
    margin-left: 15%;
}

.materia-title {
    padding-top: 6%;
    font-weight: bolder;
    text-align: center;
    font-size:3rem;
}

.materia-title-second-row {
    font-weight: bold;
    text-align: center;
    margin-top: -3%;
}

.type_zero {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.type_one {
    background: black;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.type_two {
    background: black;
    position: absolute;
    width: 95%;
    height: 85%;
    left: 1%;
    top: 9%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.type_three {
    background: black;
    position: absolute;
    width: 80%;
    height: 66%;
    left: 10%;
    top: 17%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.alternate {
    background: black;
    margin-top: 1.875em;
    margin-left: -50%!important;
    position: absolute!important;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    z-index: 2;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.half {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-left: 9%;
    margin-top: 5%;
}

.half:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#F1F1F1;
    color: #000;
}

/*pontos de navegação*/
#fp-nav ul li a span {
    background: white!important;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.section {
    background-color: transparent;
}

.section_one {
    background: white;
}

.section_two {
    background: black;
}

.btns {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}

@media only screen and (min-width: 100px) and (max-width: 1000px) {
    meta {
        initial-scale: 1.0;
        maximum-scale: 1.0;
        user-scalable: 0;
    }

    #shuffle-container {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .float-title {
        font-size: 3rem;
    }

    .smaller-title-text {
        font-size: 1em;
        color: #6f6f6f;
        font-weight: 400;
    }

    .content {
        position:relative;
        font-size: 4vw;
        height:90%; /* = 100% - 2*5% padding */
        width:90%; /* = 100% - 2*5% padding */
        padding: 5%;
    }

    .button {
        font-size: 2rem;
        margin: 1%;
    }

    #top-site-text {
        font-size: 2rem;
        left: 6%;
        transform: translate(0%, -50%);
    }

    .square,
    .square-two-rows,
    .square-two-columns,
    .square-two-rows-and-columns {
        width: 50vw;
        height: 20vh;
    }

    .type_zero,
    .type_one,
    .type_two,
    .type_three {
        background: black;
        position: absolute;
        width: 95%;
        height: 85%;
        left: 1%;
        top: 9%;
        z-index: 2;
        -webkit-transition: .35s;
        transition: .35s;
    }

    .float-title,
    .float-title-one,
    .float-title-two,
    .float-title-three,
    .float-title-four {
        margin-top: 15%;
        margin-left: 5%;
    }

    .alternate {
        background: black;
        margin-top: 1.875em;
        margin-left: 0%!important;
        position: absolute!important;
        min-width: 100vw;
        min-height: 35vh;
        text-align: center;
        z-index: 2;
    }

    .square:focus,
    .square-two-rows:focus,
    .square-two-columns:focus,
    .square-two-rows-and-columns:focus {
        /*position: fixed!important;*/
        marginLeft: 0%;
        z-index: 3!important;
    }

    /*.half {*/
    /*width: 100%!important;*/
    /*height: 20vh;*/
    /*}*/
}