@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

* {
    outline: none;
}

body {
    margin: 0;
}

/*animação de linha*/
.wrapper {
    position: relative;
}

.line {
    position: absolute;
    bottom: 0;
    border-left: 0.125em solid gray;
    animation: show-up 2s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes show-up {
    0% {
        height: 0;
    }

    50% {
        left: 0;
        height: 100%;
    }

    95% {
        opacity: 1;
    }

    100% {
        left: 100%;
        height: 100%;
        opacity: 0;
    }
}
/*fim da animação de linha*/

html {
    background-color: black;
    overflow-x: hidden;
}

.container {
    position: relative;
    text-align: center;
    align-content: center;
    color: white;
}

.quote {
    position: relative;
    text-align: center;
    align-content: center;
    color: white;
}

#top-site-text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway;
    opacity: 0;
    transition: 1s;
}

.vertical {
    max-width: 0.0625em;
}

.mouse {
    filter: invert(100%);
    max-width: 3.4375em;
}

.small-title-text {
    letter-spacing: 0.125em;
    font-size: 0.8125em;
}

.smaller-title-text {
    font-weight: bold;
    font-size: 0.5625em;
}

.button {
    font-weight: bold;
    display: inline;
    margin: 0 auto;
    padding: 0.625em;
    border: 0.125em solid #ffffff;
    border-radius: 2.5em;
    background: transparent;
    color: #ffffff;
    letter-spacing: 0.0625em;
}

.button:hover {
    background: #ffffff;
    color: #000000;
}

.bigger-title-text {
    font-size: 3em;
}

.top-site-image{
    position: relative;
    min-height: 100vh;
    display: block;
    width: 100%;
    opacity: 0;
    animation: fade-in 1s ease-in 1.5s forwards;

    position: relative;
    -webkit-mask-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        from(
            rgba(0,0,0,1)
        ),
        to(rgba(0,0,0,0))
    );

    /* The image used */
    background-image: url('../images/rio_de_janeiro.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    position:relative;
    font-size: 1.5vw;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
}

.table{
    display:table;
    width:100%;
    height:100%;
}

.table-cell{
    color: white;
    display:table-cell;
    vertical-align:middle;
}

#shuffle-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.content-image {
    position: relative;
    text-align: center;
    align-content: center;
    color: white;
}

.square {
    background: transparent;
    position: absolute;
    float: left;
    width: 33%;
    z-index: 1;
    -webkit-transition: .35s!important;
    transition: .35s!important;
}

.float-title {
    position: fixed;
    color: white;
    width: 100%;
    font-size: 1.1rem;
    font-family: Raleway;
    transition: .35s;
}

.float-title-one {
    margin-top: 50%;
    margin-left: 30%;

}

.float-title-two {
    margin-top: 70%;
    margin-left: 50%;
}

.float-title-three {
    margin-top: 35%;
    margin-left: -8%;
}

.content {
    opacity: 0;
    transition: .35s;
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square:focus {
    z-index: 3!important;
}

.type_zero {
    background: grey;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.type_one {
    background: grey;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.type_two {
    background: grey;
    position: absolute;
    width: 95%;
    height: 85%;
    left: 1%;
    top: 9%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.type_three {
    background: grey;
    position: absolute;
    width: 80%;
    height: 66%;
    left: 10%;
    top: 17%;
    z-index: 2;
    -webkit-transition: .35s;
    transition: .35s;
}

.alternate {
    margin-top: 1.875em;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    /*max-height: 25em;*/
    /*min-height: 25em;*/
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.half {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-left: 9%;
}

.half:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#000;
    color: #000;
}

/*@media only screen and (min-width: 100px) and (max-width: 1000px) {*/
    /*meta {*/
        /*initial-scale: 1.0;*/
        /*maximum-scale: 1.0;*/
        /*user-scalable: 0;*/
    /*}*/

    /*#shuffle-container {*/
        /*width: 100%;*/
        /*margin-left: 0%;*/
        /*margin-right: 0%;*/
    /*}*/

    /*.float-title {*/
        /*font-size: 3rem;*/
    /*}*/

    /*.smaller-title-text {*/
        /*font-size: 1em;*/
    /*}*/

    /*.content {*/
        /*position:relative;*/
        /*font-size: 3vw;*/
        /*height:90%; /!* = 100% - 2*5% padding *!/*/
        /*width:90%; /!* = 100% - 2*5% padding *!/*/
        /*padding: 5%;*/
    /*}*/

    /*.button {*/
        /*font-size: 2rem;*/
        /*margin: 1%;*/
    /*}*/

    /*#top-site-text {*/
        /*font-size: 2rem;*/
        /*left: 6%;*/
        /*transform: translate(0%, -50%);*/
    /*}*/

    /*/!*.half {*!/*/
    /*/!*width: 100%!important;*!/*/
    /*/!*height: 20vh;*!/*/
    /*/!*}*!/*/
/*}*/